
.header-title{
      color: #d2c6d7;
      padding: 3px 3em;
      margin: 0;
    }
 .hh{
   display: flex;
     background: linear-gradient(1deg, #56d8e4 3.9%, #9f01ea 90%);;
      color: #d2c6d7;
      padding: 3px 3em;
      margin: 0;
 }
    