
footer {
    background: linear-gradient(1deg, #56d8e4 3.9%, #9f01ea 90%);;
    border-bottom: 1px solid #eee;
    color: #eee;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
}